*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background: #F7F7F7;
}

a{
    text-decoration: none;
}

.header{
    padding: 10px 20px;
    background: cadetblue;
    color: whitesmoke;
    text-align: center;
}

.component{
    margin: 20px 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    .component{
        margin: 10px;
    }
}

/*button element start*/
.btn{
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: relative;
    border: none;
}

.btn:hover,.btn:focus,.btn:active{
    background: rgba(128, 128, 128, 0.1);
    border-radius: 4px;
}

.btn-link{
    color: blue;
}

.btn-icon{
    color: black;
}

.btn-icon:hover,.btn-icon:focus,.btn-icon:active{
    background: rgba(128, 128, 128, 0.1);
    border-radius: 4px;
    border: none;
}

.btn-twitter{
    background: #1D9BF0;
    color: white;
    border-radius: 4px;
}

.btn-twitter:hover{
    background: #2a9feca8;
    color: white;
}

.btn-facebook{
    background: #1d32f0;
    color: white;
    border-radius: 4px;
}

.btn-facebook:hover{
    background: #2a6eeca8;
    color: white;
}



/*button element end*/

/*card component start*/

.card{
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-header{
    padding: 10px;
}

.card-body{
    display: flex;
    cursor: pointer;
}

.card-body:hover{
    background: rgba(128, 128, 128, 0.1);
}

.card-vertical{
    flex-direction: column;
}

.card-vertical .card-image{
    width: 100%;
    height: 200px;
}

.card-body p{
    font-size: 14px;
    margin-top: 10px;
    color: rgb(107, 107, 107);
}

.card-image{
    width: 110px;  
    height: 110px; 
    background-image: url("https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.card-image .card-image-title{
    color: white;
    position: absolute;
    padding: 10px;
    bottom: 0;
}

.card-image-square{
    border-radius: 0px;
}

.card-content{
    padding: 16px;
}

.card-title{
    font-size: 18px;
    line-height: 32px;
}

.card-subtitle{
    font-size: 14px;
    color: rgb(107, 107, 107);
    font-weight: 500;
    line-height: 22px;
}

.card-image-title .card-subtitle{
    color: white;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*card component end*/

/*chip component start*/
.chip-container{
    width: 450px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    background: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
}

.chip{
    cursor: context-menu;
    background: #e0e0e0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    min-width: 100px;
}

.chip:hover{
    background: #cdcdcd;
}

.chip-text{
    padding: 5px 10px;
}

.chip span:first-child{
    margin-right: auto;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #949494;
    color: aliceblue;
    font-size: 14px;
    background: blueviolet;
}

.chip span:last-child{
    margin-left: auto;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    margin: 3px;
}

.chip span:last-child:hover{
    background: #949494;
}

/*chip component end*/


/*Drawer component start*/
.drawer{
    background: white;
    width: 250px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.drawer-header{
    padding: 10px;
}

.drawer-header .drawer-header-title{
    margin-bottom: 5px;
    font-size: 18px;
}

.drawer-header .drawer-header-subtitle{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.drawer-content{
    display: flex;
    flex-direction: column;
}

.drawer-list{
    display: flex;
    flex-direction: column;
}

.drawer-list-item{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    color: #696767;
    height: 35px;
}

.drawer-list-item i{
    margin-right: 32px;
}

.drawer-list-item:hover{
    background: hsla(0, 0%, 52%, 0.301);
    border-radius: 4px;
}

/*Drawer component end*/

/*badge component start*/
.badge{
    background: gray;
    padding: 5px;
    width: 22px;
    height: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    border-radius: 50%;
}

.badge-purple{
    background: purple;
    color: white;
}

.badge-orange{
    background: orange;
    color: white;
}
/*badge component end*/








